@model ProductoraCelis.Models.Clientes;
@{
    Layout = null;
}


<link rel="stylesheet" href="~/css/Registrar.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />




<div>
    <div class="wrapper">
        <h2>Formulario de registro de nuevo Clientes Mayoristas</h2>
        <form asp-controller="Admin" asp-action="Registrar_Cliente" method="post">

            <div class="input-box">
                <label>Nombres</label>
                <input class="form-control" asp-for="Nombres" required />
            </div>
            <div class="input-box">
                <label>Apellidos</label>
                <input class="form-control" asp-for="Apellidos" required />
            </div>
            <div class="input-box">
                <label>Dni</label>
                <input class="form-control" asp-for="Dni" required />
            </div>
            <div class="input-box">
                <label>Celular</label>
                <input class="form-control" asp-for="Celular" required />
            </div>
            <div class="input-box">
                <label>Direccion</label>
                <input class="form-control" asp-for="Direccion" required />
            </div>
            <div >
                <label>Fecha de Registro</label>
                <input class="form-control" asp-for="FechaRegistro" type="date" required />
            </div>
            <div class="input-box">
                <label>Desccripcion</label>
                <input class="form-control" asp-for="Descripcion" required />
            </div>
            
            <div class="policy">
                <input asp-for="Estado" type="checkbox" id="chkActivo" />
                <label>Activo</label>
            </div>
            <div class="input-box">
                <label>Email</label>
                <input class="form-control" asp-for="Email" required />
            </div>
            <div class="input-box button">
                <button type="submit" class="btn-guardar">Guardar</button>
                <a asp-controller="Admin" asp-action="Dashboard" class="btn-volver">Volver </a>
            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<!-- Bootstrap JS (opcional si ya lo tienes con los archivos locales) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Widget de accesibilidad UserWay -->
<script src="https://cdn.userway.org/widget.js" data-account="2CI6j9fC2f"></script>