@{
    Layout = null;
}
<div>
    <h1>@ViewData["Title"]</h1>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet " href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <title>

        </title>
    </head>
    <body>
    </body>
</html>
<h1>@ViewData["Title"]</h1>
<p>Productora Celis</p>
</div>
